.Button{
    background-color: transparent;
    padding: 10px;
    border-radius: 4px;
    padding: 10px;
    margin-right: 20px;
}
.Button:disabled{
    cursor: not-allowed;
    color: grey;
}

.Success{
    border: solid 1px green;
}

.Success:hover{
    border: solid 1px black;
    background-color: green;

}

.Danger{
    border: solid 1px red;
    background-color: salmon;
}

.Danger:hover{
   
    border: solid 1px white;
    color: white;
}