
.ContactData{
    margin: 30px auto;
    max-width: 20px auto;
    width: 1000px;
    text-align: center;
    border: solid 1px black;
    border-radius: 4px;
    box-shadow: 0 4px 4px #0009;
    box-sizing: border-box;
    padding: 20px;
}

.ContactData input{
    text-align: center;
    padding: 7px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}


.ContactData form{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.Input{
    display: block;
}

@media (max-width: 1000px){
    .ContactData{
        width: 700px;
    }
}


@media (max-width: 700px){
    .ContactData{
        width: 500px;
    }
}